body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
header nav {
  text-align: right;
  background: #4d648d;
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.logo{
  color: inherit;
  float: left;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  padding: 2em 1em .5em;

}
header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}

header nav a:hover {
  text-decoration: underline;
}



.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
        Parallax scroll turned off on mobiles
    */
    background-attachment: scroll;
}

.pimg1 {
    background-image: url('Img/Coffee.jpeg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('Img/Burger.jpg');
    min-height: 100%;
}
.pimg3 {
    background-image: url('Img/Cake.jpeg');
    min-height: 100%;
}
.pimg4 {
    background-image: url('Img/Pancakes.jpeg');
    min-height: 100%;
}
.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #d0e1f9;
    color: #1e1f26;
}

.section-dark {
    background-color: #283655;
    color: #fff;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}


.ptext .border {
    background-color: #4d648d;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.icons {
    font-size: 25px;
}

.fa {
  padding: 15px;
}

.tab{
  overflow: hidden;

  }

  .tablinks{
    color: inherit;

  }

  .tablinks.active{
     background: #283655;
     color: white;
  }

  .tab button{
    background-color: inherit;
    float: left;
    display: block;
    border: none;
    outline: 1px solid #ccc;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    transition: 0.3s;
  }
        /* enable Parallax Scroll for pc*/
        @media(min-width: 568px) {
            .pimg1, .pimg2, .pimg3, .pimg4 {
                background-attachment: fixed;
            }
        }

        @media(max-width: 380px) {
            .ptext .border {
                display: flex;
            }
        }
